body{
  background-color: tan;
  border-style: solid;
  border-color: black;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 25px;
  font-weight: bolder;
}

hr{
  border: 5px;
  border-style: double;
  border-color: black;
}

#button{
  background-color: tan;
  border-color: black;
  font-size: 20px;
  font-family: 'Nothing You Could Do', cursive;
}

#button2{
  background-color: tan;
  border-color: black;
  font-size: 20px;
  font-family: 'Nothing You Could Do', cursive;
}

#button:hover{
  background-color: grey;
}

#button:hover{
  background-color: grey;
  border-radius: 15px;
}
